@import "base";

#contact-content {
  padding: 20px;
}

#contact-form {
  padding: 10px;
}

#social-media-btns {
  text-align: center;

  .fa {
    margin: 20px;
  }
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: gray;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}
