{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-3 border">
                            <img src="{{ listing.image_url }}" class="img-fluid" alt="image for '{{ listing.title }}' auction listing">
                        </div>
                        <div class="col-9">
                            <h2>{{ listing.title }}</h2>
                            <p><strong>Price: $</strong>{{ listing.starting_bid }}</p>
                            <p>{{ listing.description }}</p>
                            <p>Created: {{ listing.create_time }}</p>
                        </div>
                    </div>
                </li>
            </ul>
            
            <h3>Comments</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <p>TODO</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <p>TODO</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <p>TODO</p>
                    </div>
                </li>
            </ul>
    </div>
    
{% endblock %}