{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <h2>Listing: {{ listing.title }}</h2>
        <div class="w-75 border">
            <img src="{{ listing.image_url }}" class="img-fluid" alt="image for '{{ listing.title }}' auction listing">
        </div>

        <h2>Price: ${{ listing.starting_bid }}</h2>

        {% if user.is_authenticated %}
            {% load crispy_forms_tags %}  
            <form method="POST">
                <div class="w-75">
                    {% csrf_token %}
                    {{ form | crispy }}
                <input class="btn btn-primary" type="submit" value="Submit">
                </div>
            </form>
        {% else %}
                <p><a href="{% url 'login' %}">Sign in</a> to submit a bid!</p>
        {% endif %}

        

        <h2>Description</h2>
        <p>{{ listing.description }}</p>

            
        <h3>Comments</h3>
        {% if user.is_authenticated %}
            {% load crispy_forms_tags %}  
            <form method="POST">
                <div class="w-75">
                    {% csrf_token %}
                    {{ form | crispy }}
                <input class="btn btn-primary" type="submit" value="Submit">
                </div>
            </form>
        {% else %}
                <p><a href="{% url 'login' %}">Sign in</a> to submit a comment!</p>
        {% endif %}

        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <p>TODO</p>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <p>TODO</p>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <p>TODO</p>
                </div>
            </li>
        </ul>
    </div>
    
{% endblock %}