{% extends "base.html" %}

{% block header_content %}
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('broadcast_message', function(data) {
        var chat_log = document.getElementById('chat-log');
        var message = document.createElement('p');
        message.textContent = data.sender + " says " + data.message;
        chat_log.appendChild(message);
    });

    document.addEventListener("DOMContentLoaded", function() {
        var form = document.getElementById('message-form');
        if (form.attachEvent) {
            form.attachEvent("submit", processForm);
        } else {
            form.addEventListener("submit", processForm);
        }
    });

    function processForm(e) {
        //stop page from refreshing
        if (e.preventDefault) e.preventDefault();

        //get message
        var message = document.getElementById('message');

        //send message to backend
        socket.emit('message', {message : message.value})
        return false;
    }
</script>
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">#{{ channel }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse align-self-end" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
          </ul>
        </div>
    </nav>
    <div id="chat-log">
        {% for message in chatlog %}
            <div>
                <p>{{ message.sender }} says {{ message.message }}</p>
            </div>

        {% endfor %}
    </div>

    <form id="message-form" class="container">
        <div class="row">
            <input id="message" class="col-10" type=text name="message" placeholder="message">
            <button class="col-2 btn btn-primary" type="submit">Send</button>
        </div>

    </form>
{% endblock %}