{% extends "base.html" %}

{% block header_content %}
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
    let socket = io.connect('http://' + document.domain + ':' + location.port);
    let channel_name = getChannelName();

    socket.on('broadcast_message', function(data) {
        let chat_log = document.getElementById('chat-log');
        let message = getMessageElement(data.message, data.sender, data.timestamp);
        chat_log.appendChild(message);
    });

    socket.on('channel_added', function(channel_name) {
        let list = document.getElementById('channels');
        let new_channel = document.createElement('li');
        let link = document.createElement('a');

        link.classList.add("channel_link");
        link.innerHTML = channel_name;
        link.href = '/messages/' + channel_name;
        new_channel.appendChild(link);
        list.appendChild(new_channel);
    });

    socket.on('message', function(data) {
        if (data.error) {
            alert('Channel with that name already exists!');
        }
    });

    document.addEventListener("DOMContentLoaded", function() {
        let form = document.getElementById('message-form');
        if (form.attachEvent) {
            form.attachEvent("submit", processForm);
        } else {
            form.addEventListener("submit", processForm);
        }

        form = document.getElementById("add_channel_form");
        if (form.attachEvent) {
            form.attachEvent("submit", addProcessChannelForm);
        } else {
            form.addEventListener("submit", addProcessChannelForm);
        }
    });

    function processForm(e) {
        //stop page from refreshing
        if (e.preventDefault) e.preventDefault();

        //get message
        var message_content = document.getElementById('message').value;
        let message_data = {
            message: message_content,
            channel: channel_name,
        }

        //send message to backend
        socket.emit('message', message_data)

        //clear form
        message.value="";
        return false;
    }

    function addProcessChannelForm(e) {
        //stop page from refreshing
        if (e.preventDefault) e.preventDefault();

        //get new channel name
        let new_channel_name = document.getElementById('channel_name').value;
        const existing_channels = getAllExistingChannels();

        if (existing_channels.indexOf(new_channel_name) !== -1) {
            displayAddChannelError();
            return;
        }

        let message_data = {
            name: new_channel_name
        }

        //send message to backend
        socket.emit('add_channel', message_data)

        //redirect to new channel
        redirectToChannel(new_channel_name);
    }

    function redirectToChannel(channel_name) {
        const protocol = window.location.protocol;
        const host = window.location.host;
        window.location.href = protocol + "//" + host + "/messages/" + channel_name;
    }

    function displayAddChannelError() {
        let elm = document.getElementById("add_channel_fail_alert");
        elm.classList.remove("d-none");
    }

    function getAllExistingChannels() {
        let links = document.getElementsByClassName('channel_link');
        let names = []

        for (let i = 0; i < links.length; i++) {
            names.push(links[i].innerHTML);
        }

        return names;
    }

    function getChannelName() {
        return window.location.pathname.split("/").pop();
    }

    function getMessageElement(content, sender, date) {
        let message = document.createElement('div');
        let content_elm = document.createElement('div');
        let sender_elm = document.createElement('p');
        let name_elm = document.createElement('strong');

        message.classList.add('message');
        content_elm.classList.add('content');
        sender_elm.classList.add('sender');
        sender_elm.classList.add('text-left');

        //append name to sender
        name_elm.innerHTML = sender
        sender_elm.appendChild(name_elm);

        //add date to sender
        sender_elm.innerHTML += ' ' + date;

        //set message content
        content_elm.innerHTML = content;

        //attach message children to parent
        message.appendChild(sender_elm);
        message.appendChild(content_elm);


        return message;
    }

    function scrollToLatestMessage() {
        window.scrollTo(0,document.querySelector("#chat-log").scrollHeight);
    }
</script>
{% endblock %}

{% block content %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">#{{ channel }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse align-self-end" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
          </ul>
        </div>
    </nav>
    <div class="row">
        <div id="sidebar" class="col-2 content">
            <ul id="channels">
                {% for name in channel_names %}
                    <li><a class="channel_link" href="/messages/{{ name }}">{{ name }}</a></li>
                {% endfor %}
            </ul>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addChannelFormModal">
                +
            </button>

            <div class="modal fade" id="addChannelFormModal" tabindex="-1" role="dialog" aria-labelledby="addChannelFormModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addChannelFormTitle">Add Channel</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="add_channel_form">
                        <div class="modal-body">
                                <div id="add_channel_fail_alert" class="form-group row alert alert-danger d-none" role="alert">
                                    A channel with that name already exists!
                                </div>
                            <div class="form-group row">
                                <label for="channel_name" class="col-sm-4 col-form-label">channel name: </label>
                                <div class="col-sm-8">
                                    <input type="text" name="channel_name" class="form-control" id="channel_name">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add channel</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>

        </div>
        <div id="chat-log" class="col-10 content">
            {% for message in chatlog %}
            <div class="message">
                <p class="text-left sender"><strong>{{ message.sender }}</strong> {{ message.timestamp }}</p>
                <div class="content">
                    {{ message.message }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <form id="message-form" class="">
        <div class="row">
            <input id="message" class="col-10" type=text name="message" placeholder="message">
            <button class="col-2 btn btn-primary" type="submit">Send</button>
        </div>
    </form>
{% endblock %}