{% extends "base.html" %}

{% block content %}
    <p>{{message}}</p>
    <form action="" method="POST">
        <label>Search</label>
        <input type="text" name="search" />
        <button type="submit">submit</button>
    </form>

    {% for book in search_results %}
        <a href="{{ url_for('book', bookId=book.bookId) }}">
        <div>
            <h4>{{ book.title }}</h4>
            <p>Author: {{ book.author }}</p>
            <p>ISBN: {{ book.isbn }}</p>
            <p>Year: {{ book.year }}</p>
        </div>
        </a>
    {% endfor %}
{% endblock %}