body {
    font-family: Roboto, arial;
    font-size: 14px;
    text-align: center;
}

#standard-search-form {
    margin: auto;
}

.padding-top {
    margin-top: 10px;
}

.text-field {
    width: 125ch;
}

.center {
    margin: auto;
    text-align: center;
}

.hide {
    display: none;
}

.header-spacing {
    margin-top: 100px;
    margin-bottom: 100px;
}