{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'orders/style.css' %}">

    {% block head %}

    {% endblock %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <a class="navbar-brand" href="{% url 'index' %}"> <img src="{% static 'orders/pinocchio_logo.gif' %}" class="logo_img" />Pinocchio's</a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 m-auto">
                    <li class="nav-item text-center">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="{% url 'menu' %}">Menu</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="{% url 'location' %}">Directions</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="{% url 'hours' %}">Hours</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="{% url 'sicilian_v_regular' %}">Sicilian vs. Regular</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                    <div class="my-2 my-sm-0 d-flex">
                        <a href="{% url 'shopping_cart' %}"><button class="btn btn-outline-success m-auto">Shopping Cart</button></a>
                        <a href="{% url 'order_history' %}"><button class="btn btn-outline-success m-auto">Orders</button></a>
                        <a href="{% url 'logout' %}"><button class="btn btn-outline-success m-auto">Logout</button></a>
                    </div>
                {% else %}
                    <div class="my-2 my-sm-0 d-flex">
                            <a href="{% url 'login' %}"><button class="btn btn-outline-success m-auto">Order Now!</button></a>
                    </div>
                {% endif %}


            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                    <div class="col-md-2 col-sm-0 bg-green"></div>
                    <div id="content" class="col-md-8 col-sm-12 bg-white">
                        {% block content %}

                        {% endblock %}
                    </div>
                    <div class="col-md-2 col-sm-0 bg-red"></div>
            </div>

        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>