{% extends "orders/base.html" %}
{% load staticfiles%}
{% block title %} Pinocchio's Pizza and Subs {% endblock %}

{% block head %}
<style>
    .center {
        margin: auto;
    }
</style>
{% endblock %}

{% block content %}
    <h1 class="text-center">Pinocchio's Pizza & Subs</h1>
    <h2 class="text-center">One of Cambridge's most beloved resturants!</h2>
    <div class="row">
        <img src="{% static 'orders/storefront.jpg' %}" class="col-6 center" />
    </div>
    <h3 class="text-center">74 Winthrop Street <br /> Harvard Square <br /> 617-876-4897</h3>



{% endblock %}
