{% extends "orders/base.html" %}
{% block title %} Pinocchio's Pizza and Subs {% endblock %}

{% block content %}
    <h1 class="text-center">Login</h1>

    {% if error %}
        <p class="text-danger text-center">{{ error }}</p>
    {% endif %}

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="form-group row">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
            <input type="text" name="username" class="form-control" id="username" placeholder="Username">
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
            </div>
        </div>
        <div class="row">
            <a href="{% url 'register' %}" class="col-6">Need an account? Register here!</a>
            <div class="col-6 d-flex">
                <button type="submit" class="btn btn-success ml-auto">Submit</button>
            </div>
        </div>

    </form>

{% endblock %}
