{% extends "orders/base.html" %}

{% block content %}

<h1 class="text-center">Reciept</h1>
<h3>Order on {{order.date}}</h3>
<table class="table">
    {% if order == None %}
        <tr><td>Nothing ordered yet!</td></tr>
    {% else %}
        <thead>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
        </thead>

        <tbody>
        {% if order.pizzas.all %}
            {% for pizza_order in order.pizzas.all %}
                <tr>
                    <td>{{pizza_order.pizza.pizza_type.name}} {{pizza_order.pizza.name}} pizza </td>
                    <td>{{pizza_order.quantity}}</td>
                    <td>${{pizza_order.price}}</td>
                </tr>

                {% for topping_order in pizza_order.toppings.all %}
                <tr>
                    <td>+ {{topping_order.topping}}</td>
                </tr>
                {% endfor %}

            {% endfor %}
        {% endif %}

        {% if order.subs.all %}
            {% for sub_order in order.subs.all %}
                <tr>
                    <td>{{sub_order.sub.name}} sub</td>
                    <td>{{sub_order.quantity}}</td>
                    <td>${{sub_order.price}}</td>
                </tr>

                {% for addon_order in sub_order.addons.all %}
                <tr>
                    <td>+ {{addon_order.addon.name}} (+${{addon_order.addon.price}})</td>
                </tr>
                {% endfor %}

            {% endfor %}
        {% endif %}

        {% if order.entrees.all %}
            {% for entree_order in order.entrees.all %}
                <tr>
                    <td>{{entree_order.entree.name}}</td>
                    <td>{{entree_order.quantity}}</td>
                    <td>${{entree_order.price}}</td>
                </tr>
            {% endfor %}
        {% endif %}

    {% endif %}

    <tr>
        <th scope="row">Total Price: </th>
        <td>${{order.price}}</td>
        <td></td>
    </tr>

    </tbody>
</table>


{% endblock %}