{% extends "orders/base.html" %}
{% block title %} Pinocchio's Pizza and Subs {% endblock %}

{% block content %}
    <h1 class="text-center">Sicilian vs Regular</h1>

    <h2>Sicilian Pizza</h2>
    <p>Our Sicilian pizza is a deep-dish or thick-crust pizza. We sell them in a 9-slice or a 15-slice size.</p>
    <ul>
        <li>The 9-slice size is 16" x 16" and will feed anywhere from 3 to 5 people.</li>
        <li>The 15-slice size is 28" x 16", comes in 2 large pizza boxes and can feed 6 to 9 people.</li>
    </ul>

    <h2>Regular Pizza</h2>
    <p>Our Regular pizza is a thin-crust or Neapolitan pizza. They come in 2 sizes: small (12" in diameter) and large (16" in diameter). The small is suitable for 1 to 2 people while the large feeds 2 to 4 people.</p>

    <hr />

    <p>We can make any of our pizzas in about 10 to 15 minutes, and they can be eaten in our dining room or taken out.</p>
    <h2 class="text-center">Oh, and always remember: <br /> Eat More Pizza!</h2>
{% endblock %}
