<script>
        document.addEventListener("DOMContentLoaded", function() {
            function setup() {
                //hide appropriate name elements by default
                handleTypeSizeChange();

                document.querySelector("#entreeType")
                        .addEventListener('change', handleTypeSizeChange, false);

                document.querySelector("#entreeSize")
                        .addEventListener('change', handleTypeSizeChange, false);
            }

            function handleTypeSizeChange() {
                //get selected pizza type
                let type_selector = document.querySelector("#entreeType");
                let type_value = type_selector.options[type_selector.selectedIndex].value;

                //get selected pizza size
                let size_selector = document.querySelector("#entreeSize");
                let size_value = size_selector.options[size_selector.selectedIndex].value;

                //display only the valid name options
                hideAllNameOptions(type_value, size_value);

                //reset the name selection tag to first value
                //find first none hidden option
                let options = document.querySelectorAll("#entreeName option");
                for (let i = 0; i < options.length; i++) {
                    if (!options[i].hidden) {
                        document.querySelector("#entreeName").selectedIndex = i;
                        break;
                    }
                }

            }

            function hideAllNameOptions(type, size) {
                document.querySelectorAll("#entreeName option").forEach(function(element) {
                    if (element.classList.contains(type) && element.classList.contains(size)) {
                        element.hidden = false;
                    } else {
                        element.hidden = true;
                    }
                });
            }


            setup();
        });
</script>


<!-- pizza form -->
<form id="entreeOrderForm" action="{% url 'add_entree_to_cart' %}" method="POST">
    {% csrf_token %}

    <input name="order" type="hidden" value="{{order.id}}">

    <!-- type -->
    <div class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0"><Strong>Entree Type:</Strong></legend>
            <div class="col-sm-1"></div>
            <select class="form-control col-sm-9" name="entreeType" id="entreeType">
                {% for entree_type in entree_types %}
                    <option value="{{ entree_type }}">{{ entree_type }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- size -->
    <div class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0"><Strong>Size:</Strong></legend>
            <div class="col-sm-1"></div>
            <select class="form-control col-sm-9" name="size" id="entreeSize">
                {% for size in sizes %}
                    <option value="{{ size }}">{{ size }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- name -->
    <div class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0"><Strong>Item Name:</Strong></legend>
            <div class="col-sm-1"></div>
            <select class="form-control col-sm-9" name="itemName" id="entreeName">
                {% for entree in entrees %}
                    <option class="{{entree.entree_type.name}} {{entree.size.size}}" value="{{ entree.name }}">{{ entree.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- name -->
    <div class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0"><Strong>Quantity:</Strong></legend>
            <div class="col-sm-1"></div>
            <input class="form-control col-sm-9" type="number" name="quantity" min="1" value="1">
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <button id="entreeOrderSubmitBtn" class="btn btn-success">Add to order</button>
    </div>
</form>