<script>
        document.addEventListener("DOMContentLoaded", function() {
            function handleSubmit(e) {
                //stop form from submitting
                e.preventDefault();

                topping_inputs = document.querySelectorAll(".added_topping");

                for(let i = 0; i < topping_inputs.length; i++) {
                    let topping = topping_inputs[i];
                    topping.setAttribute("name", "topping-" + i);
                }

                document.querySelector("#pizzaOrderForm").submit();

            }

            function displayErrors() {
                error_occured = false;

                if (canAddMoreToppings()) {
                    document.querySelector("#reached-max-toppings-alert").hidden = true;
                } else {
                    document.querySelector("#reached-max-toppings-alert").hidden = false;
                    error_occured = true;
                }
            }

            function displayNoToppingSelectedMsg() {
                if (document.querySelectorAll(".added_topping").length > 0) {
                    document.getElementById("no-toppings-msg").hidden = true;
                } else {
                    document.getElementById("no-toppings-msg").hidden = false;
                }
            }

            function handleAddToppingButtonClick(e) {
                //check if max_toppings have been reached
                if (!canAddMoreToppings()) {
                    return;
                }

                //get current value from dropdown
                let selectValue = document.getElementById("topping").value;

                // create element
                let toppingElem = createToppingInputItem(selectValue);

                //add to form under toppings div
                document.getElementById("pizza-toppings-container").append(toppingElem);

                //send out a change event for other other listeners
                document.querySelector("#pizzaOrderForm").dispatchEvent(new Event("change"));
            }

            function canAddMoreToppings() {
                //get current max topping value
                let name_selector = document.querySelector("#pizzaName");
                let max_topping_value = name_selector.options[name_selector.selectedIndex].getAttribute("max_toppings");

                //get current number of added toppings
                let selected_toppings_count = document.querySelectorAll(".added_topping").length;

                return max_topping_value > selected_toppings_count;
            }

            function createToppingInputItem(topping) {
                //put it in a disabled text element
                let row = document.createElement("div");
                row.classList.add("row");

                let input = createFixedValueInputElement(topping);
                input.classList.add("col-6");
                input.classList.add("added_topping");

                let spacer = document.createElement("div");
                spacer.classList.add("col-2")

                let btn = createDeleteButton(row);
                btn.classList.add("col-2");

                row.append(input, spacer, btn);

                return row;
            }

            function createFixedValueInputElement(value) {
                let elem = document.createElement("input");
                elem.type = "text"
                elem.readOnly = true;
                elem.value = value;
                elem.classList.add("form-control");

                return elem;
            }

            function createDeleteButton(target) {
                let btn = document.createElement("button");
                btn.type = "button";
                btn.innerText = "X";
                btn.classList.add("btn", "btn-danger");

                //remove target on click
                btn.addEventListener('click', function(e) {
                    target.parentNode.removeChild(target);
                    document.querySelector("#pizzaOrderForm").dispatchEvent(new Event("change"));
                }, false);

                return btn;
            }

            function handleTypeSizeChange() {
                //get selected pizza type
                let type_selector = document.querySelector("#pizzaType");
                let type_value = type_selector.options[type_selector.selectedIndex].value;

                //get selected pizza size
                let size_selector = document.querySelector("#pizzaSize");
                let size_value = size_selector.options[size_selector.selectedIndex].value;

                //display only the valid name options
                hideAllNameOptions(type_value, size_value);

                //reset the name selection tag to first value
                let options = document.querySelectorAll("#pizzaName option");
                for (let i = 0; i < options.length; i++) {
                    if (!options[i].hidden) {
                        document.querySelector("#pizzaName").selectedIndex = i;
                        break;
                    }
                }
            }

            function hideAllNameOptions(type, size) {
                document.querySelectorAll("#pizzaName option").forEach(function(element) {
                    if (element.classList.contains(type) && element.classList.contains(size)) {
                        element.hidden = false;
                    } else {
                        element.hidden = true;
                    }
                });
            }

            function setup() {
                //hide appropriate name elements by default
                handleTypeSizeChange();

                document.getElementById("add-topping-btn")
                        .addEventListener('click', handleAddToppingButtonClick, false);

                document.querySelector("#pizzaType")
                        .addEventListener('change', handleTypeSizeChange, false);

                document.querySelector("#pizzaSize")
                        .addEventListener('change', handleTypeSizeChange, false);

                displayErrors();
                document.querySelector("#pizzaOrderForm")
                        .addEventListener('change', displayErrors, false);
                document.querySelector("#pizzaOrderForm")
                        .addEventListener('change', displayNoToppingSelectedMsg, false);

                document.querySelector("#pizzaOrderSubmitBtn")
                        .addEventListener('click', handleSubmit, false);
            }

            setup();
        });
</script>


<!-- pizza form -->
<form id="pizzaOrderForm" action="{% url 'add_pizza_to_cart' %}" method="POST">
    {% csrf_token %}

    <input name="order" type="hidden" value="{{order.id}}">

    <!-- type -->
    <div class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0"><Strong>Pizza Type:</Strong></legend>
            <div class="col-sm-1"></div>
            <select class="form-control col-sm-9" name="pizzaType" id="pizzaType">
                {% for pizza_type in pizza_types %}
                    <option value="{{ pizza_type }}">{{ pizza_type }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- size -->
    <div class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0"><Strong>Size:</Strong></legend>
            <div class="col-sm-1"></div>
            <select class="form-control col-sm-9" name="size" id="pizzaSize">
                {% for size in sizes %}
                    <option value="{{ size }}">{{ size }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- name -->
    <div class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0"><Strong>Item Name:</Strong></legend>
            <div class="col-sm-1"></div>
            <select class="form-control col-sm-9" name="itemName" id="pizzaName">
                {% for pizza in pizzas %}
                    <option class="{{pizza.pizza_type.name}} {{pizza.size.size}}" max_toppings="{{pizza.max_toppings}}" value="{{ pizza.name }}">{{ pizza.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- name -->
    <div class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0"><Strong>Quantity:</Strong></legend>
            <div class="col-sm-1"></div>
            <input class="form-control col-sm-9" type="number" name="quantity" min="1" value="1">
        </div>
    </div>

    <!-- Toppings container -->
    <div class="form-group">
        <div class="row">
                <legend class="col-form-label col-sm-2 pt-0"><Strong>Toppings:</Strong></legend>
                <div class="col-sm-1"></div>
                <div class="col-sm-9" id="pizza-toppings-container">
                    <p id="no-toppings-msg">No toppings selected</p>
                </div>
        </div>
    </div>

    <!-- input to add toppings to form -->
    <div class="form-group">
        <div class="container row">
            <select class="form-control col-8" name="toppings_select" id="topping">
                {% for topping in toppings %}
                    <option value="{{topping}}">{{topping}}</option>
                {% endfor %}
            </select>
            <div class="col-2" ><!--empty space--></div>
            <button id="add-topping-btn" class="btn btn-success col-2" type="button">+</button>
        </div>
    </div>
    <div class="alert alert-warning" id="reached-max-toppings-alert" role="alert">
            Cannot add anymore toppings
    </div>

    <div class="d-flex justify-content-center">
        <button id="pizzaOrderSubmitBtn" class="btn btn-success">Add to order</button>
    </div>
</form>