<script>
        document.addEventListener("DOMContentLoaded", function() {
            function setup() {
                handleSizeChange();
                document.querySelector("#subSize")
                        .addEventListener('change', handleSizeChange, false);

                handleNameChange();
                document.querySelector("#subName")
                        .addEventListener('change', handleNameChange, false);

                document.querySelector("#subName")
                        .addEventListener('change', filterSelectedAddons, false);

                document.getElementById("add-addon-btn")
                        .addEventListener('click', handleAddAddonButtonClick, false);

                document.querySelector("#subOrderForm")
                        .addEventListener('change', displayNoAddonSelectedMsg, false);

                document.querySelector("#subOrderSubmitBtn")
                        .addEventListener('click', handleSubmit, false);
            }

            function handleSizeChange() {
                //get selected pizza size
                let size_selector = document.querySelector("#subSize");
                let size_value = size_selector.options[size_selector.selectedIndex].value;

                //display only the valid name options
                hideAllNameOptions(size_value);

                //reset the name selection tag to first value
                let options = document.querySelectorAll("#subName option");
                for (let i = 0; i < options.length; i++) {
                    if (!options[i].hidden) {
                        document.querySelector("#subName").selectedIndex = i;
                        break;
                    }
                }
            }

            function hideAllNameOptions(size) {
                document.querySelectorAll("#subName option").forEach(function(element) {
                    if (element.classList.contains(size)) {
                        element.hidden = false;
                    } else {
                        element.hidden = true;
                    }
                });
            }

            function handleNameChange() {
                //get selected pizza size
                let name_selector = document.querySelector("#subName");
                let sub_id = name_selector.options[name_selector.selectedIndex].value;

                //display only the valid name options
                filterAddonOptions(sub_id);

                //reset the name selection tag to first value
                document.querySelector("#addons_select").selectedIndex = 0;
            }

            function filterAddonOptions(id) {
                document.querySelectorAll("#addons_select option").forEach(function(element) {
                    if (element.classList.contains(id)) {
                        element.hidden = false;
                    } else if (element.classList.length == 0) {
                        element.hidden = false;
                    }
                    else {
                        element.hidden = true;
                    }
                });
            }

            function createAddonInputItem(topping) {
                //put it in a disabled text element
                let row = document.createElement("div");
                row.classList.add("row");

                let input = createFixedValueInputElement(topping);
                input.classList.add("col-6");
                input.classList.add("added_addon");

                let spacer = document.createElement("div");
                spacer.classList.add("col-2")

                let btn = createDeleteButton(row);
                btn.classList.add("col-2");

                row.append(input, spacer, btn);

                return row;
            }

            function createFixedValueInputElement(value) {
                let elem = document.createElement("input");
                elem.type = "text"
                elem.readOnly = true;
                elem.value = value;
                elem.classList.add("form-control");

                return elem;
            }

            function createDeleteButton(target) {
                let btn = document.createElement("button");
                btn.type = "button";
                btn.innerText = "X";
                btn.classList.add("btn", "btn-danger");

                //remove target on click
                btn.addEventListener('click', function(e) {
                    target.parentNode.removeChild(target);
                    document.querySelector("#subOrderForm").dispatchEvent(new Event("change"));
                }, false);

                return btn;
            }

            function handleAddAddonButtonClick(e) {
                //get current value from dropdown
                let selectValue = document.getElementById("addons_select").value;

                // create element
                let toppingElem = createAddonInputItem(selectValue);

                //add to form under toppings div
                document.getElementById("sub-addons-container").append(toppingElem);

                //send out a change event for other other listeners
                document.querySelector("#subOrderForm").dispatchEvent(new Event("change"));
            }

            function displayNoAddonSelectedMsg() {
                if (document.querySelectorAll(".added_addon").length > 0) {
                    document.getElementById("no-addon-msg").hidden = true;
                } else {
                    document.getElementById("no-addon-msg").hidden = false;
                }
            }

            function filterSelectedAddons() {
                let chosen_addons = document.querySelectorAll(".added_addon");
                let allowable_addons = Array.from(document.querySelectorAll("#addons_select option"))
                                            .filter(function (element) {
                                                        return !element.hidden;
                                                    })
                                            .map(function(element) {
                                                    return element.value;
                                            });

                // if a chosen_addon not in allowable addons remove it
                for (let i = 0; i < chosen_addons.length; i++) {
                    if (allowable_addons.indexOf(chosen_addons[i].value) == -1) {
                        //click the input's delete btn
                        chosen_addons[i].nextSibling.nextSibling.click();

                    }
                }
            }

            function handleSubmit(e) {
                //stop form from submitting
                e.preventDefault();

                addon_inputs = document.querySelectorAll(".added_addon");

                for(let i = 0; i < addon_inputs.length; i++) {
                    let addon = addon_inputs[i];
                    addon.setAttribute("name", "addon-" + i);
                }

                document.querySelector("#subOrderForm").submit();

            }

            setup();
        });
</script>


<!-- pizza form -->
<form id="subOrderForm" action="{% url 'add_sub_to_cart' %}" method="POST">
    {% csrf_token %}

    <!-- order -->
    <input name="order" type="hidden" value="{{order.id}}" readonly>

    <!-- size -->
    <div class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0"><Strong>Size:</Strong></legend>
            <div class="col-sm-1"></div>
            <select class="form-control col-sm-9" name="size" id="subSize">
                {% for size in sizes %}
                    <option value="{{ size }}">{{ size }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- name -->
    <div class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0"><Strong>Sub Name:</Strong></legend>
            <div class="col-sm-1"></div>
            <select class="form-control col-sm-9" name="subName" id="subName">
                {% for sub in subs %}
                    <option class="{{sub.size.size}}" value="{{ sub.id }}">{{ sub.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- quantity -->
    <div class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0"><Strong>Quantity:</Strong></legend>
            <div class="col-sm-1"></div>
            <input class="form-control col-sm-9" type="number" name="quantity" min="1" value="1">
        </div>
    </div>

    <!-- addons container -->
    <div class="form-group">
        <div class="row">
                <legend class="col-form-label col-sm-2 pt-0"><Strong>Addons:</Strong></legend>
                <div class="col-sm-1"></div>
                <div class="col-sm-9" id="sub-addons-container">
                    <p id="no-addon-msg">No addons selected</p>
                </div>
        </div>
    </div>

    <!-- input to add toppings to form -->
    <div class="form-group">
        <div class="container row">
            <select class="form-control col-8" name="addons_select" id="addons_select">
                {% for addon in addons %}
                    <option class="{{addon.sub.id}}" value="{{addon.name}}">{{addon.name}}</option>
                {% endfor %}
            </select>
            <div class="col-2" ><!--empty space--></div>
            <button id="add-addon-btn" class="btn btn-success col-2" type="button">+</button>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <button id="subOrderSubmitBtn" class="btn btn-success">Add to order</button>
    </div>
</form>